<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Countries App" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/details" routerLinkActive="active">details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active">Add Country</a>
        </li>
      </ul>
    </div>
  </div>
</nav>