<div class="container mt-4">
  @if (country) {
    <div class="row">
      <div class="col-lg-6">
        @if (country.imageUrl) {
          <img [src]="country.imageUrl" class="img-fluid rounded mb-4" [alt]="country.name">
        } @else {
          <img src="assets/default-country.jpg" class="img-fluid rounded mb-4" [alt]="country.name">
        }
      </div>
      <div class="col-lg-6">
        <h1>{{ country.name }}</h1>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item"><strong>Capital:</strong> {{ country.capital }}</li>
          <li class="list-group-item"><strong>Population:</strong> {{ country.population | number }}</li>
          <li class="list-group-item"><strong>Region:</strong> {{ country.region }}</li>
        </ul>
        <button class="btn btn-primary me-2" routerLink="/">Back to Home</button>
        <button class="btn btn-outline-primary" [routerLink]="['/edit', country.id]">Edit</button>
      </div>
    </div>
  } @else {
    <div class="alert alert-warning">Country not found</div>
    <button class="btn btn-primary" routerLink="/">Back to Home</button>
  }
</div>