<div class="country-card">
  <div class="card h-100">
    @if (country.imageUrl) {
      <img [src]="country.imageUrl" class="card-img-top" [alt]="country.name">
    } @else {
      <img src="assets/default-country.jpg" class="card-img-top" [alt]="country.name">
    }
    <div class="card-body">
      <h5 class="card-title">{{ country.name }}</h5>
      <p class="card-text">
    <strong>Capital:</strong> {{ country.capital }}<br>
    <strong>Population:</strong> {{ country.population }}<br>
    <strong>Region:</strong> {{ country.region }}
    </p>
    </div>
    <div class="card-footer bg-transparent">
      <a [routerLink]="['/detail', country.id]" class="btn btn-primary">View Details</a>
    </div>
  </div>
</div>